<!-- {% extends 'base2.html' %} -->
 {% block content %}

<h1> <a target="" href="../products">My Shop </a> </h1>

<p class="lead">
Welcome to My Django Shop. The only place on the web where you can get quality fruits and farm
produce. Explore and shop at affordable prices. Wink. Wink</p>

<a href="#"><img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.
ESvtsBnYxWO40A061MtJoAHaEo%26pid%3DApi&f=1" alt="An image of strawberries"></a>




{% endblock %}
