<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Shop</title>

<body>
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="../">Home</a>
    </nav>


<!-- As a heading -->
<!-- <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand nb-0 h1">Products</span>
</nav> -->

 <!-- <div class="container"> </div> -->
<main role="main" class="container">
    <div class="starter-template">

        {% block content %}{% endblock %} <!-- here -->

    </div>
</main>



<style>
    body {
        padding-top: 1rem;
    }
    .starter-template {
        padding: 2rem 1.5rem;
        text-align: center;
    }
</style>

<!-- div id="content" -->




</body>
</html>